<!DOCTYPE html>
<html>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<head>
<meta charset="ISO-8859-1">
<title>Student Form</title>
</head>
<body>

	<div class="container">
	<div class="jumbotron">
		<form action="process">
			<div class="form-group">
				<label id="label-1">Id:</label>
				<input	class="form-control" type="number" /> 
				<label id="label-2">Name:</label> <input class="form-control" type="text" id="button-1" />
			</div>
		</form>
		</div>
	</div>
</body>
</html>