<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<head>
<link rel="styleSheet" th:href="@{/css/demo.css}">

<meta charset="ISO-8859-1">
<title>Student List</title>
</head>
<body>
	<h2>Student Directory</h2>
	<hr>


	<div class="container ">
		<a class="btn btn-success" th:href="@{/student/form}">New Student</a><br />
		<br />
		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<td>ID</td>
					<td>Name</td>
					<td>Address</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempStudent:${studentList}">

					<td th:text="${tempStudent.id}"></td>
					<td th:text="${tempStudent.name}"></td>
					<td th:text="${tempStudent.address}"></td>
				</tr>
			</tbody>
		</table>
	</div>


</body>
</html>