body{
	background-color:lightblue;
	
}

h1{
	color:blue;
}
p{
	color:red
}
input[type=text]{
	background-color: #c0c0c0;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding-left: 40px;
}

table
{
	border :thin;
}
select {
	background: #c0c0c0
}